.container {
    
    align-items: center;

 
    & span {
        display: block;
        font-size: 1.8em;
        background-color: blanchedalmond;
        text-align: center;
    }
    
    & button {
        font-size: larger;
        font-weight: bolder;
    }

    & button:first-child {
        border: none;
        border-radius: 100% 100% 10% 10%;
    }
    & button:last-child {
        border: none;
        border-radius: 10% 10% 100% 100%;
    }


}