.form {
/*     position: absolute;
    top: 0; */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;

    & .grpForm {  /* marche pas... */
          background-color: aqua;
         
    }

    &  label {
        margin-right: 1em;

    }

    & > button {
        background-color: rgb(150, 150, 228);
    }

    & > div:first-child > input {
        width: 40vw ;
    }
}